
.table1{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
table {
    border: 1px solid #ccc; /* Add a border around the table */
    width: 100%; /* Make the table width 100% of the container */
    table-layout: auto;
    background-color: rgb(181, 126, 232);
    background-image:  linear-gradient(135deg, #7f29e1, #2495A8);
  }
  
  /* Style for table header */
  th {
    border-bottom: 1px solid #ccc; /* Add a line below header cells */
    background-color: #f0f0f0;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    width: 100vh;
  }
  
  /* Style for table cells */
  td {
    border-bottom: 1px solid #ccc; /* Add a line below content cells */
    padding: 8px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100vh;
  }
  
  /* Style for alternating rows */
  /* tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1vh;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .btn2 { background-color: #09fd11; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;} /* Green */
    .btn2:hover {
      background-color: #219b11; /* Hover background color */
  }
  .add-task-container {
    text-align: center;
    margin-bottom: 20px; /* Adjust the margin to control spacing */
}

.btn1 {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #0056b3; /* Hover background color */
}